<p>{{texto | uppercase}}</p>
<p>{{texto | lowercase}}</p>
<p>{{texto | titlecase}}</p>
<p>{{texto | slice: 0 : 10}}...</p>
<p>{{texto | conversor }}</p>
<p>{{numero | currency: 'EUR' }}</p>
<p>{{numero | number: '6.2-2' }}</p>
<p>{{numero | percent }}</p>
<pre>{{objeto | json }}</pre>
<p>{{fecha | date : 'yyyy-MM-ddThh:mm:ss'}}</p>

<div *ngFor="let item of objeto | keyvalue">
  {{item.key}}:{{item.value}}
</div>

<h1 appMarcador="lightgreen">Hola</h1>

<app-titulo texto="Mi título desde un componente" appMarcador="yellow" [seVe]="true" />

<p>Lorem ipsum dolor <span appMarcador='cyan' [seVe]="true">sit amet</span> consectetur adipisicing elit. Molestias
  perspiciatis
  laudantium dolorum dignissimos ratione. Voluptates rerum blanditiis qui consequatur beatae expedita ullam neque quia
  explicabo nesciunt, natus nisi voluptas eveniet.</p>